<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Interview Practise" >
  <test name="TestNG features test">
  <groups>
  <run>
  <include name = "demo"/>
  <include name = "demo1"/>
  <exclude name = "demo2"/>
  </run>
  </groups>
    <classes>
      <class name="com.test.GoogleTest"/>
      <class name="com.test.TestNGBasics"/>
      <class name="com.test.TestNGFeatures"/>
      
    </classes>
  </test>
</suite>
